<div id='main' role='main'>
  <!--<div id='main-content-header'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-12'>
          <h1 class='title'>
            Log in
          </h1>
        </div>
      </div>
    </div>
  </div>
  -->
  <div id='main-content'>
    <div class='container'>
      <div class="row" style="align-items: center;">
        <div class="col-md-3">
                  <h2>
                  Log In
                  </h2>
          </div>
            <div class="col-sm-6">
              <%= form_for(:session, url: login_path) do |f| %>
                <div class="form-group">
                  <%= f.label :email %>
                  <%= f.email_field :email, class: 'form-control col-sm-4' %>
                </div>
                <div class="form-group">
                  <%= f.label :password %>
                  <%= f.password_field :password, class: 'form-control' %>

                </div>
                <%= f.submit "Log in", class: "btn btn-primary" %>
              <% end %>
              <br>
              <p>New user? <%= link_to "Sign up now!", signup_path %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
