<div id='main' role='main'>
  <div id="wrapper">
  <div id='main-content-header'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-12'>
          <h1 class='title'>
            List of sponsors
          </h1>
        </div>
      </div>
    </div>
  </div>
  </div>
  
  <div id='main-content'>
    <div class='container'>
      <div class="row" style="align-items: center;">
        <div class="col-md-3">
                  <h2>
                  </h2>
          </div>
            <div class="col-sm-10">
            <table class="table">
              <thead>
                <tr>
                  <th>Sponsor's Name </th> 
                  <th>Sponsorship date </th>
                  <th>Sponsorship amount</th>
                  <th>Student's Name</th>
                  <th>Sponsored For</th>
                </tr>
              </thead>
              <tbody>
                <% @sponsorship.each do |sponsorship| %>
                <tr>
                  <td><%= @user.name %></td>
                  <td><%= sponsorship.created_at %></td>
                  <td><%= sponsorship.amount %></td>
                  <td><%= sponsorship.requirement.student.full_name %></td>
                  <td><%= sponsorship.requirement.description %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
              
              
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
