<div id='main' role='main'>
  <div id="wrapper">
  <div id='main-content-header'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-12'>
          <h1 class='title'>
            List of sponsorships
          </h1>
        </div>
      </div>
    </div>
  </div>
  </div>
  
  <div id='main-content'>
    <div class='container'>

      <div class="row" style="align-items: center;">
        <div class="col-md-3">
       
                  <h2>
                  </h2>
          </div>
            <div class="col-sm-10">
            <table class="table">
              <thead>
                <tr>
                  <th>Sponsor's Name </th> 
                  <th>Sponsorship date </th>
                  <th>Sponsorship amount</th>
                  <th>Student's Name</th>
                  <th>Sponsored For</th>
                </tr>
              </thead>
              <tbody>
                <% if @user.sponsorship_ds.count > 0 %>
                  <% @user.sponsorship_ds.eager_load(:requirement).each do |sponsorship| %>
                  <% req = sponsorship.requirement %>
                  <% student = sponsorship.requirement.student %>
                  <tr>
                    <td><%= @user.name %></td>
                    <td><%= l sponsorship.created_at, format: :short %></td>
                    <td><%= sponsorship.amount %></td>
                    <td><%= student.full_name %></td>
                    <td><%= req.description %></td>
                  </tr>

                  <% end %>

                  </tbody>
                  </table>
                <% else %>
                  </tbody>
                  </table>
                  <%= t '.message' %>
                <% end %>
              
              
              
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
