<p id="notice"><%= notice %></p>

<h1>child Records</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @child_records.each do |child_record| %>
      <tr>
        <td><%= link_to 'Show', child_record %></td>
        <td><%= link_to 'Edit', edit_child_record_path(child_record) %></td>
        <td><%= link_to 'Destroy', child_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New child Record', new_child_record_path %>
