<p id="notice"><%= notice %></p>

<h1>Payment Records</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payment_records.each do |payment_record| %>
      <tr>
        <td><%= link_to 'Show', payment_record %></td>
        <td><%= link_to 'Edit', edit_payment_record_path(payment_record) %></td>
        <td><%= link_to 'Destroy', payment_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment Record', new_payment_record_path %>
